@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

:root {
  --bg-color: hsl(148, 38%, 91%);
  --text-green-medium: hsl(169, 82%, 27%);
}

body {
  font-family: "Karla", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--bg-color);
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app {
  background-color: #fff;
  max-width: 500px;
  width: 100%;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: left;
  font-size: 24px;
}

.input-group {
  display: flex;
  gap: 15px;
}

.input-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  flex: 1;
}

label {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 7px;
}

input,
textarea {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
  transition: all 0.3s ease-in-out;
}

input:hover,
textarea:hover {
  border: 2px solid;
  border-color: var(--text-green-medium);
}

input:focus,
textarea:focus {
  outline: none;
  border: 2px solid;
  border-color: var(--text-green-medium);
}

.radio-group {
  display: flex;
  gap: 20px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.radio-group label {
  display: flex;
  align-items: center;
  padding: 20px;
  gap: 5px;
  width: 100%;
  border-radius: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.radio-group label:hover {
  border: 2px solid;
  border-color: var(--text-green-medium);
}

.radio-group label input {
  appearance: none;
  -webkit-appearance: none;
  width: 24px;
  height: 24px;
  border: 3px solid #ccc;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease;
}

.radio-group label input:checked {
  background-color: transparent;
  border-color: var(--text-green-medium);
}

.radio-group label input:checked::after {
  content: "";
  width: 12px;
  height: 12px;
  background-color: var(--text-green-medium);
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.checkbox-section {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.checkbox-section input {
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
  accent-color: var(--text-green-medium);
  transition: all 0.3s ease;
}

button {
  background-color: var(--text-green-medium);
  border: none;
  color: white;
  width: 100%;
  padding: 12px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
}

button:hover {
  background-color: hsl(169, 72%, 22%);
}

.attribution {
  margin-top: 20px;
  font-size: 15px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
